*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parteTopo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 200px;;
    color: #0D3B57;
    
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vw;
    background-color: #e0e0e0;
}

.coluna1, .coluna2{
    display: flex;

    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 20px;
    margin-right: 20px;
    color: #0D3B57;
    
  
    
    
}
.opcao{
    padding-bottom: 50px;
}
.interesses{
    display: flex;
     justify-content: space-between;
   
    
}

.formulario{
    font-weight: bold;
    border: rgba(0, 0, 0, 0.253) 1px solid;
    height: 100%;
    width: 100%;
}
.conteiner{
    background-color: #f0f0f0;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.2);
    height: 25vw;
    width: 43vw;
    position: relative;
}

.botao{
    
   

a{
   padding: 5px;
   padding-left: 25px;
   padding-right: 25px;
   color: white;
   background-color: #0D3B57;
   list-style: none;
   text-decoration: none;
   position: absolute; 
   right: 1px;
   box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.281);
   border-radius: 5px;
   font-weight: bolder;
   margin-top: 20px;
   
}
